/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*body {*/
  /*background-image: url(https://images.pexels.com/photos/1002740/pexels-photo-1002740.jpeg);*/
/*  background-position: center center;*/
/*  background-repeat: no-repeat;*/
/*  background-attachment: fixed;*/
/*  background-size: cover;*/
/*  z-index: 0;*/
/*}*/

/*body::before {*/
/*  content: '';*/
/*  position: absolute;*/
/*  top: -5px;*/
/*  bottom: -5px;*/
/*  left: -5px;*/
/*  right: -5px;*/
/*  background: inherit;*/
/*  filter: blur(4px) opacity(80%) brightness(80%);*/
/*  z-index: -1;*/
/*}*/

/*.text_against_picture{*/
/*  text-shadow: 0 0 10px #333;*/
/*  color: #ffffff;*/
/*}*/

.img-hidden {
  height: 500px;
  overflow: hidden;
}

img {
   max-width: 100%;  /* 横幅に合わせて自動縮小するが、拡大はしない */
}

#new_form {
  margin-bottom: 50px ;
}

#margin_bottom_for_contents {
  margin-bottom: 50px ;
}

#footer_all{
  text-align:center;
}